@use "sass:math";
@import "font/stylesheet.css";

body {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 960px;

}

header span {
  flex: 1 0 25%;
  text-align: center;
}

.size-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sketch-size {
  text-align: left;
  margin-left: 4px;
}

#sketch-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 1px solid rgba(0, 0, 0, 0.75);
}

.grayscale-0 {
  background-color: white;
}

@for $i from 1 through 10 {
  .grayscale-#{$i} {
    background-color: rgba(0, 0, 0, math.div($i, 10));
  }
}
